body{
    background: white;
    color:#333;
    max-width: 500px;
    margin: auto;
    font-family: sans-serif;
    text-align: center;

}
article + article {
    margin-top: 150px;
    border-top: 1px solid gray;
}

h1 {
    font-size: 30px;
}
p {
    line-height: 1.4;
    font-size: 20px;
}
.section {
    background-color: cornflowerblue;
    font-size: 20px;
}
